include(`reset.css')
include(`base.css')

main {
	margin: 0 auto;
	padding: 0 1.25rem 2rem;
}

#games {
	padding-top: .5em;
}

#games h2 {
	display: none;
}

#games ul {
	display: grid;
	gap: 1rem;
	list-style: none;
	padding: 0;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: masonry;
}

figure {
	position: relative;
}

:root {
	--perita-masonry-columns: 1;
}

@media (min-width: 640px) and (max-width: 819px) { :root { --perita-masonry-columns: 2; } }
@media (min-width: 820px) and (max-width: 1079px) { :root { --perita-masonry-columns: 3; } }
@media (min-width: 1080px) and (max-width: 1339px) { :root { --perita-masonry-columns: 4; } }
@media (min-width: 1340px) and (max-width: 1599px) { :root { --perita-masonry-columns: 5; } }
@media (min-width: 1600px) and (max-width: 1819px) { :root { --perita-masonry-columns: 6; } }
@media (min-width: 1820px) and (max-width: 2079px) { :root { --perita-masonry-columns: 7; } }
@media (min-width: 2080px) and (max-width: 2339px) { :root { --perita-masonry-columns: 8; } }
@media (min-width: 2340px) and (max-width: 2599px) { :root { --perita-masonry-columns: 9; } }
@media (min-width: 2560px) { :root { --perita-masonry-columns: 10; } }

.grid-sizer {
	display: none;
}

.masonry-fallback .grid-sizer {
	display: block;
}

.masonry-fallback li, #games ul li.grid-sizer {
	width: calc(100% / var(--perita-masonry-columns));
	margin-bottom: 8px;
}

@media (min-width: 640px) and (max-width: 819px) {
	.masonry-fallback li:first-child {
		width: calc(200% / var(--perita-masonry-columns));
	}
}

@media (min-width: 820px) {
	.masonry-fallback li.featured {
		width: calc(200% / var(--perita-masonry-columns) + 10px);
	}
}

@supports (grid-template-rows: masonry) {

	@media (min-width: 640px) and (max-width: 819px) {

		#games li:first-child  {
			grid-column-end: span 2;
		}

	}

	@media (min-width: 820px) {
		#games li.featured  {
			grid-column-end: span 2;
		}
	}

}

figure img {
	width: 100%;
	height: auto;
	aspect-ratio: 1.26;
}

figcaption {
	width: 100%;
	display: none;
	padding: .25em;
	color: var(--perita-background-color);
	background-color: rgba(0, 0, 0, .7);
}

figcaption, figure .animation {
	position: absolute;
	top: 0;
	z-index: -1;
}

figure:hover figcaption {
	display: block;
	z-index: 10;
}

figure.gif:hover .static {
	opacity: 0;
}

figcaption span {
	font-size: .9em;
	display: block;
}

figcaption .title {
	text-align: center;
	margin-bottom: .5em;
}

figcaption .description {
	color: var(--perita-accent-color-light);
}

.gifloader {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}

figure:hover .gifloader {
	display: block;
}
